@model Final_ASP_Project.Models.Book

@{
    ViewData["Title"] = "BookDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 style="text-align:center; color:blue">BookDetail</h1>

<div class="container-fluid py-5" style="align-items:center">

    <div class="row px-xl-5">
        <div class="col-lg-5 pb-5">
            <div id="" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner border">
                    <div class="carousel-item active">
                        <img src="~/uploads/@Model.book_urlImage" class="card-img-top" style="width:130%;height:330px"></img>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-7 pb-5">
            <h4 class="mb4">Title:<b style="color:black"> @Model.book_Title</b></h4>
           
            <p class="mb-4"><b>Description:</b>   @Model.book_Description</p>
            <p class="mb-4"><b>Author:</b>   @Model.book_Author</p>
            <p class="mb-4"><b>Genre:</b>   @Model.genre.genre_Name</p>
            <p class="mb-4"><b>Publisher:</b>  @Model.book_Publisher</p>
            <p class="font-weight-semi-bold mb-4">Price:  @Model.Book_Price <a>vnđ</a></p>
            @if (@Model.book_Quantity == 0)
            {
                <button type="button" class="btn btn-secondary">Out Of Stock</button>
            }
            else
            {

                <a type="button" onclick="add(@Model.book_Id)" class="btn btn-primary">Add to cart</a>
            }
            <a asp-action="ShowBook" class="btn btn-warning">Back to List</a>
        </div>
     
    </div>

</div>


@section Scripts{
    <script>
        async function add(bookId) {

            try {
                var response = await fetch(`/User/Cart/AddItem?bookId=${bookId}`);
                if (response.status == 200) {
                    var result = await response.json();
                    var cartCountEl = document.getElementById("cartCount");
                    cartCountEl.innerHTML = result;
                    window.location.href = "/User/Cart/GetUserCart";
                }
            }
            catch (err) {
                console.log(err);
            }
        }
    </script>
}

