@model ShoppingCart
@{
    ViewData["Title"] = "GetUserCart";
}

@if (TempData["Quantity"] != null)
{
    <div class="alert alert-danger">
        <strong>

        </strong>@TempData["Quantity"]
    </div>
}

@if (TempData["Success"] != null)
{
    <div class="alert alert-success">
        <strong>
            Success
        </strong>@TempData["Success"]
    </div>
}
<br />

<div style="width:90%;margin:auto" class="mt-2">
    @if (Model != null && Model.Carts != null && Model.Carts.Count > 0)
    {
        <h2 style="text-align:center; color:blue">My Shopping Cart</h2>
        <br />
        <br />
        <table class="table table-striped">
            <tr>
                <th>Title</th>
                <th>Image</th>
                <th>Genre</th>
                <th>Price x Quantity</th>
                <th>Total Price</th>
                <th></th>
            </tr>
            @foreach (var item in Model.Carts)
            {
                <tr>
                    <td>@item.Book.book_Title</td>
                    <td>
                        @if (string.IsNullOrEmpty(item.Book.book_urlImage))
                        {
                            <img src="/images/NoImage.png" style="width:250px;height:150px" />
                        }
                        else
                        {
                            <img src="~/uploads/@item.Book.book_urlImage" style="width:80px;height:100px" />
                        }
                    </td>
                    <td>@item.Book.genre.genre_Name</td>
                    <td>
                        @item.Book.Book_Price (vnđ)  x
                        <input asp-for="@item.Quantity"></input>
                    </td>
                    <td>@(item.Book.Book_Price * item.Quantity) vnđ</td>
                    <td>
                        <a class="btn btn-primary" asp-controller="Cart" asp-action="AddItem" asp-route-bookid="@item.BookId" asp-route-redirect="1">+</a>
                        <a class="btn btn-warning" asp-controller="Cart" asp-action="removeitem" asp-route-bookid="@item.BookId">-</a>
                    </td>
                </tr>
            }
        </table>

        <div class="my-2" style="text-align:right">
            <p><b>Shipping cost: </b>  Free ship</p>
            <p><b>Total Money:</b> @(Model.Carts.Select(item => item.Book.Book_Price * item.Quantity).Sum()) (vnđ)</p>
        </div>

        <div class="my-2" style="text-align:right">
            <a class="btn btn-primary" asp-controller="Cart" asp-action="Checkout">Checkout</a>
        </div>

    }
    else
    {
        <h5>Cart is empty</h5>
    }
</div>



@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}