@model IEnumerable<ApplicationUser>

@{
    
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}



<div class="card">
    <div class="card-body">
        <h1 class="card-title" style="text-align:center; font-size:30px">Customer</h1>
        <table class="table">
            <thead>
                <tr>
                  
                    <th>
                        User Name
                    </th>
                    <th>
                        Email
                    </th>
                 
                    <th>
                        Gender
                    </th>

                    <th>
                        Address
                    </th>
                    <th>Date of birth</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model)
                {
                        <tr>
                        
                            <td>@user.FullName</td>
                            <td>@user.Email</td>
                            <td>@user.Gender</td>
                            <td>@user.Address</td>
                            <th>@user.DoB.Date.ToString("dd/MM/yyyy")</th>


                            
                        </tr>
                }
            </tbody>
        </table>
    </div>
</div>
